## Create Cost of Living Dataframes for a given year

### Summary of notebook:
- Create cost of living dataframes for a given year.
- Needed: previous year's cost of living CSV, and inflation rate data
- Outputs: Cost of living dataframe and CSV file for a particular year

In [1]:
import pandas as pd
import numpy as np
from jqi_functions import *

#### Enter the year of data needed

In [86]:
year = '2021'
prev_year = str(int(year) - 1)

#### Load necessary data

Because cost of living for a certain year is based on the inflation change from the previous year, we load in the previous year's cost of living data.

In [87]:
prev_col = pd.read_csv(f'data/cost_of_living/united-way-col-1A1PS1C{prev_year}.csv')

**Note:** The inflation rates CSV file needs to be updated each year using [this data](https://www.minneapolisfed.org/about-us/monetary-policy/inflation-calculator/consumer-price-index-1913-).

**Note:** The current year's inflation rate is year-to-date, and may change as the year progresses.

In [88]:
inflation_rates = pd.read_csv('data/cost_of_living/inflation-rates.csv')

#### Create given year's cost of living data

In [89]:
perc_change = inflation_rates.loc[inflation_rates['Year'] == int(year)]['Percent Change'].values[0]
rate = (perc_change / 100) + 1
rate

1.047

In [90]:
col = prev_col.copy()
col['New COL'] = round(col['Cost of Living'] * rate, 2)
col = col.drop(columns=['Cost of Living'])
col = col.rename(columns={'New COL':'Cost of Living'})

Final Cost of Living Dataframe

In [91]:
col

                 Regions  Cost of Living
0               Bay Area       103041.54
1          Central Coast        82857.90
2    Central San Joaquin        59335.58
3         Eastern Sierra        64909.95
4          Inland Empire        66910.41
5                   Kern        58129.80
6            Los Angeles        84993.98
7            North State        61590.34
8   Northern San Joaquin        61248.10
9                 Orange        92868.67
10         Redwood Coast        62104.23
11            Sacramento        66855.31
12    San Diego-Imperial        82599.37
13            California        82174.49

#### Export outputs

In [92]:
col.to_csv(f'data/cost_of_living/united-way-col-1A1PS1C{year}.csv', index=False)