## Create EDD Dataframes for multiple years

In [1]:
import pandas as pd
import numpy as np
from jqi_functions import *

#### Load necessary data

In [2]:
edd = pd.read_csv('data/edd/Current_EDD_1121.csv')

In [3]:
edd_crosswalk = pd.read_csv('data/edd/Industry_Title_Crosswalk.csv')

In [4]:
county_info = pd.read_csv('data/county_to_regions_key.csv')

In [5]:
edd_to_ipums_crosswalk = pd.read_csv('data/edd/edd_to_ipums_crosswalk.csv')

In [6]:
edd = clean_edd(edd, edd_crosswalk, edd_to_ipums_crosswalk, county_info)

In [7]:
edd

,Area Type,Area Name,Year,Month,Date,Series Code,Seasonally Adjusted,Current Employment,Industry Title,FIPS,COUNTYFIP,County,Rural/Urban,Regions,Crosswalk Value
0,County,Alameda,2014,January,01/01/2014,70710000,N,8800,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
1,County,Alameda,2014,February,02/01/2014,70710000,N,9000,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
2,County,Alameda,2014,March,03/01/2014,70710000,N,9100,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
3,County,Alameda,2014,April,04/01/2014,70710000,N,9800,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
4,County,Alameda,2014,May,05/01/2014,70710000,N,10200,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102801,County,San Joaquin,2021,June,06/01/2021,43493000,N,25700,warehousing and storage,6077,77,San Joaquin,Urban,Central Valley,17
102802,County,San Joaquin,2021,July,07/01/2021,43493000,N,26100,warehousing and storage,6077,77,San Joaquin,Urban,Central Valley,17
102803,County,San Joaquin,2021,August,08/01/2021,43493000,N,26400,warehousing and storage,6077,77,San Joaquin,Urban,Central Valley,17
102804,County,San Joaquin,2021,September,09/01/2021,43493000,N,26500,warehousing and storage,6077,77,San Joaquin,Urban,Central Valley,17
102805,County,San Joaquin,2021,October,10/01/2021,43493000,N,26900,warehousing and storage,6077,77,San Joaquin,Urban,Central Valley,17

In [8]:
edd_2020 = edd.loc[edd['Year'] == 2020].copy()
edd_2019 = edd.loc[edd['Year'] == 2019].copy()
edd_2018 = edd.loc[edd['Year'] == 2018].copy()
edd_2017 = edd.loc[edd['Year'] == 2017].copy()
edd_2016 = edd.loc[edd['Year'] == 2016].copy()
edd_2015 = edd.loc[edd['Year'] == 2015].copy()
edd_2014 = edd.loc[edd['Year'] == 2014].copy()

In [9]:
edd_2020.head()

,Area Type,Area Name,Year,Month,Date,Series Code,Seasonally Adjusted,Current Employment,Industry Title,FIPS,COUNTYFIP,County,Rural/Urban,Regions,Crosswalk Value
72,County,Alameda,2020,January,01/01/2020,70710000,N,12300,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
73,County,Alameda,2020,February,02/01/2020,70710000,N,12500,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
74,County,Alameda,2020,March,03/01/2020,70710000,N,12200,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
75,County,Alameda,2020,April,04/01/2020,70710000,N,5400,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30
76,County,Alameda,2020,May,05/01/2020,70710000,N,5900,arts entertainment and recreation,6001,1,Alameda,Urban,Bay Area,30

In [10]:
edd_2020 = filter_edd(edd_2020, region_series_codes)
edd_2019 = filter_edd(edd_2019, region_series_codes)
edd_2018 = filter_edd(edd_2018, region_series_codes)
edd_2017 = filter_edd(edd_2017, region_series_codes)
edd_2016 = filter_edd(edd_2016, region_series_codes)
edd_2015 = filter_edd(edd_2015, region_series_codes)
edd_2014 = filter_edd(edd_2014, region_series_codes)

In [11]:
# edd_2020.to_csv('data/edd/edd_2020.csv', index=False)
# edd_2019.to_csv('data/edd/edd_2019.csv', index=False)
# edd_2018.to_csv('data/edd/edd_2018.csv', index=False)
# edd_2017.to_csv('data/edd/edd_2017.csv', index=False)
# edd_2016.to_csv('data/edd/edd_2016.csv', index=False)
# edd_2015.to_csv('data/edd/edd_2015.csv', index=False)
# edd_2014.to_csv('data/edd/edd_2014.csv', index=False)